.loginLayout {
    background-image: url("./loginbg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    background: linear-gradient(to right, #3498db);
}
.registerLayout {
    background-image: url("./registerbg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    background: linear-gradient(to right, #3498db);
    position: relative;

}