.form-error {
    color: #bf1650;
}

.form-error::before {
    content: "⚠ ";
}

.community-selection {
    cursor: pointer;
}

.toast-notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    min-width: 250px;
}
.word-wrap {
    word-break: break-all
}

.toast-success {
    background: rgb(212, 237, 218) !important;
}

.toast-danger {
    background: rgb(248, 215, 219) !important;
}

.img-placeholder {
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
}

.img-placeholder p {
    margin-top: 15px;
}

.post-creation-btn {
    width: 150px;
}

.card-layout {
    color: black;
    font-size: 15px;
    background-color: white;
    padding: 20px;
    width: 80%;
    font-family: verdana;
    border: solid grey;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.card-cursor:hover {
    cursor: pointer;
    background-color: whitesmoke;
}


.see-more {
    font-size: 12px;
}
